.portfolio {
  display: flex;
  flex-direction: column;
  width: 868px;
  align-items: flex-start;
  gap: 40px;
  padding: 78px 80px;
  background-color: var(--main-blue);
  .portfolio-title-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    .portfolio-title {
      position: relative;
      width: 491.49px;
      height: 92px;
      margin-top: -1px;
      font-family: var(--h2-font-family);
      font-weight: var(--h2-font-weight);
      color: #ffffff;
      font-size: var(--h2-font-size);
      letter-spacing: var(--h2-letter-spacing);
      line-height: var(--h2-line-height);
      white-space: nowrap;
      font-style: var(--h2-font-style);
    }
  }
  .main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-top: 20px;
    .images {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      align-self: stretch;
      width: 100%;
      flex: 0 0 auto;
      .image {
        position: relative;
        align-self: stretch;
        width: 100%;
      }
    }
    .skills-wrapper {
      position: relative;
      align-self: stretch;
      height: 92px;
      font-family: "Playfair Display-Regular", Helvetica;
      font-weight: 400;
      color: #ffffff;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 94.5px;
      white-space: nowrap;
      .skill-number {
        font-family: "Playfair Display-Regular", Helvetica;
        font-weight: 400;
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 94.5px;
      }
      .skill-text {
        font-size: 50px;
        margin-left: 15px;
      }
    }
  }
}