.first-palette {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .palettes-with-ad {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    column-gap: 62px;
    row-gap: 40px;
    .ad-img {
      width: 100%;
      height: 200px;
      border-radius: 10px;
    }
  }
  .first-palette--links {
    width: 100%;
    height: 50px;
    background-color: #0c2461;
    border-radius: 6px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 10px;
    justify-content: space-around;
    .first-palette-link {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}